<%= form_for(@invited) do |f| %>
  <% if @invited.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invited.errors.count, "error") %> prohibited this invited from being saved:</h2>

      <ul>
      <% @invited.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
